// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 70px;
  background-color: rgb(161, 98, 56);
  display: flex;
  justify-content: space-between;
  .header-left {
    height: 100%;
    line-height: 70px;
    margin-left: 40px;
    color: white;
    font-size: 30px;
  }
  .header-right {
    color: white;
    font-size: 17px;
    display: flex;
    align-items: center;
    &__name {
      margin-right: 40px;
     
    }
    &__btn {
      margin-right: 30px;
      border: solid 1px;
      padding: 7px;
    }

  }
}

.main {
  width: 100vw;
  height: calc(100vh - 70px);
  margin-top: 30px;
}