// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
  a {
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  .fa-heart {
    color: pink;
  }
}

/*共通headerのSCSS*/
.header {
  width: 100％;
  height: 48px;
  background-color: rgb(245, 119, 35);
  display: flex;
  justify-content: space-between;
  font-family: "SF Pro JP","SF Pro Display","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 400;
  .header-left {
    height: 100%;
    line-height: 48px;
    margin-left: 40px;
    font-size: 25px;
    a {
      color: white;
    }
  }
  .header-right {
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    &__name {
      margin-right: 40px;
     
    }
    &__btn {
      margin-right: 30px;
      padding: 7px;
      a {
        color: white;
      }
    }
  }
}


/*indexページのSCSS*/
.main {
  width: 100％;
  height: calc(100vh - 48px);
  background-color: #fff;
  .head {
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    .head-menu {
      position: absolute;
      right: 50px;
      background-color: #f5f5f7;
      height: 100%;
      font-size: 20px;
      width: 300px;
      display: flex;
      text-align: center;
      li {
        width: 33%;
        height: 100%;
        line-height: 100px;
      }
    }
  }
  .middle {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    a {
      text-decoration: none;
      color: #0071e3;
    }
  }
  .container {
    list-style: none;
    .front {
      display: flex;
      flex-wrap: wrap;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 40px;
      display: none;
      a {
        margin-top: 40px;
        margin-left: 40px;
      }
    }
    .show {
      display: flex;
      flex-wrap: wrap;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 40px;
      a {
        margin-top: 40px;
        margin-left: 40px;
      }
    }
  }
}

/*showページのSCSS*/
.show-main {
  height: 100%;
  padding: 0px 100px;
  .lists {
    .image-view {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      img {
        padding-top: 50px;
        padding-left: 50px;
      }
    }
    .comment {
      width: 45%;
      box-shadow: 0 0 8px gray;
      padding: 20px; 
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 40px;
      border-radius: 10px;
      .upper {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: solid 1px #ebebeb;
        &__date {
          color: #86868b;
          font-size: 20px;
        }
        &__poster {
          padding-left: 30px;
          font-size: 25px;
        }
      }
      .midle { 
        padding: 10px 0;
        border-bottom: solid 1px #ebebeb;
        font-size: 30px;
      }
      .bottom {
        display: flex;
        align-items: center;
        padding-top: 10px;
        font-size: 25px;
        .favorites-count {
          padding-left: 7px;
        }
      }
    }
    .link-btn {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 20%;
      font-size: 25px;
      .link-edit-btn {
        border: solid 1px #0071e3;
        border-radius: 10px;
        padding: 3px 10px;
      }
      .link-delete-btn {
        border: solid 1px #0071e3;
        border-radius: 10px;
        padding: 3px 10px;
      }
    }
  }
}

/*new(form)ページのSCSS*/
.new-main {
  height: calc(100vh - 48px);
  
  form {
    padding-top: 100px;
    width: 900px;
    margin: 0 auto;
    #image-box{

      ul {
        display: flex;
        li {
          width: 300px;
          height: 300px;
          border: solid 1px;
        }
      }
      .photo_form_box {
        display: flex;
        justify-content: space-around;
        .photo_display1 {
          display: flex;
          .image_label1 {
            cursor: pointer;
          }
          .remove_btn1 {
            margin-left: 15px;
            cursor: pointer;
          }
        }
        .photo_display2 {
          display: flex;
          .image_label2 {
            cursor: pointer;
          }
          .remove_btn2 {
            padding-left: 15px;
            cursor: pointer;
          }
        }
        .photo_display3 {
          display: flex;
          .image_label3 {
            cursor: pointer;
          }
          .remove_btn3 {
            padding-left: 15px;
            cursor: pointer;
          }
        }
      }
    }
    .text-area {
     margin-top: 15px;
     textarea {
      resize: vertical;
      width: 100%;
      height: 35px;
      border: none;
      border-bottom: 1px solid gray;
      vertical-align: bottom;
      padding: 5px 0 0 10px;
      }    
    }
    .radio-btn {
      margin-top: 15px;
    }
    .submit-btn {
      margin-top: 15px;
      input {
        width: 100px;
        height: 40px;
      }
    }
  }
}