// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

/*共通headerのSCSS*/
.header {
  width: 100％;
  height: 48px;
  background-color: rgb(245, 119, 35);
  display: flex;
  justify-content: space-between;
  font-family: "SF Pro JP","SF Pro Display","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 400;
  .header-left {
    height: 100%;
    line-height: 48px;
    margin-left: 40px;
    font-size: 25px;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .header-right {
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    &__name {
      margin-right: 40px;
     
    }
    &__btn {
      margin-right: 30px;
      border: solid 1px;
      padding: 7px;
    }
  }
}


/*indexページのSCSS*/
.main {
  width: 100％;
  height: calc(100vh - 48px);
  background-color: #fff;
  .head {
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    .head-menu {
      position: absolute;
      right: 50px;
      background-color: #f5f5f7;
      height: 100%;
      font-size: 20px;
      width: 300px;
      display: flex;
      text-align: center;
      li {
        width: 33%;
        height: 100%;
        line-height: 100px;
      }
    }
  }
  .middle {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    a {
      text-decoration: none;
      color: #0071e3;
    }
  }
  .container {
    list-style: none;
    .front {
      display: flex;
      flex-wrap: wrap;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 40px;
      display: none;
      a {
        margin-top: 40px;
        margin-left: 40px;
      }
    }
    .show {
      display: flex;
      flex-wrap: wrap;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 40px;
      a {
        margin-top: 40px;
        margin-left: 40px;
      }
    }
  }
}

/*showページのSCSS*/
.show-main {
  height: 100%;
  padding: 0px 150px;
  .lists {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*height: calc(100vh - 48px);*/
    img {
      padding-top: 50px;
      padding-left: 50px;
    }
    .comment {
      height: 400px;
      width: 45%;
      border: solid 1px;
      padding-left: 20px;
      font-size: 30px;  
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 40px;
      .upper {
        height: 20%;
        display: flex;
        align-items: center;
        &__date {
          
        }
        &__poster {
          padding-left: 30px;
        }
      }
      .midle {
        height: 60%;
        padding-top: 10px;
      }
      .bottom {
        height: 20%;
        display: flex;
        align-items: center;
        &__btn {

        }
        &__icon {
          padding-left: 50px;
        }
      }
    }
  }
}

/*new(form)ページのSCSS*/
.new-main {
  height: calc(100vh - 48px);
  
  form {
    padding-top: 100px;
    width: 900px;
    margin: 0 auto;
    #image-box{

      ul {
        display: flex;
        li {
          width: 300px;
          height: 300px;
          border: solid 1px;
        }
      }
      .photo_form_box {
        display: flex;
        justify-content: space-around;
        .photo_display1 {
          display: flex;
        }
        .photo_display2 {
          display: flex;
        }
        .photo_display3 {
          display: flex;
        }
      }
    }
    input {
     
    }
  }
}