.devise {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  border: solid 1px rgb(245, 119, 35);
  border-radius: 20px;
  .devise-wrapper {
    padding: 20px;
    h2 {
      text-align: center;
      font-size: 23px;
      font-weight: 600;
    }
    form {
      #error_explanation {
        color: #d65f4c;
        padding: 15px 15px 0 15px;
      }
      .field {
        padding: 15px 15px 0 15px;
        .field-label {
          .field_with_errors {
            display: inline-block;
            color: #d65f4c;
            font-weight: 400;
          }
        }
        input {
          padding-left: 10px;
          width: 100%;
          height: 40px;
        }
      }
      .field-memory {
        padding: 15px 15px 0 15px;
      }
      .actions {
        padding: 30px 15px 10px 15px;
        input {
          width: 100%;
          height: 40px;
          border-radius: 30px;
        }
      }
    } 
  } 
}
