<div class="header">
  <div class="header-left">
    OurHairstyle
  </div>

  <div class="header-right">
    <div class="header-right__name">
      name
    </div>
    <div class="header-right__btn">
        ログアウト
    </div>
  </div>
</div>





<div class="main">
  <div class="head">
    <div class="head-left">
    </div>
    <div class="head-right">
    </div>

  <div class="container">
    <div class="front">
      写真1
    </div>
    <div class="front">
      写真2
    </div>
    <div class="front">
      写真3
    </div>
    <div class="front">
      写真4
    </div>
    <div class="front">
      写真5
    </div>
  </div>

</div>