<div class="main">
  <div class="head">
    <div class="head-center">
      <%= link_to  "投稿してみる！", new_post_path %>
    </div>
    <ul class="head-right">
      <li class="head-righ__male">男性</li>
      <li class="head-right__female">女性</li>
      <li class="head-right__likes">likes</li>
    </ul>
   </div>

  <div class="container">
    <div class="front">
      <% @posts.each do |post| %>
        <%= link_to image_tag(post.images.first.src.url, size: "300x300"), post_path(post.id) %>
      <% end %>
    </div>
  </div>
</div>