<div class="show-main">
    <ul class="lists">
      <li class="list">写真1正面</li>
      <li class="list">写真1側面</li>
      <li class="list">写真1背面</li>
      <li class="list lists__comment">
        <div class="upper">
          <p class="upper__date">2020年5月10日14時00分</p>
          <p class="upper__poster">投稿者</p>
        </div>
        <div class="midle">
          代官山の美容室で切ってもらいました
        </div>
        <div class="bottom">
          <%= button_to ('like') %>
          <%= link_to "https://twitter.com/", class: "bottom__icon" do %>
            <i class="fab fa-twitter"></i>
          <% end %>
    </ul>
</div>