<div class="show-main">
    <ul class="lists">
      <li class="list">写真1正面</li>
      <li class="list lists__comment">コメント</li>
      <li class="list">写真1側面</li>
      <li class="list">写真1背面</li>
    </ul>
</div>